include ../mixins/interest

h2 #{people.name} 的读书酱
  a.btn.btn-mini.btn-compact(href=people.db_url('book'), target="db-profile")   读书主页 ⇗

.pull-right
if people.progress() == 100
  p.alert.alert-success
    | 上次同步于&nbsp;
    time #{strftime(FULL_TIME, people.book_last_synced)}
    | ，报表生成于 
    time #{strftime(FULL_TIME, people.stats.book)}
else
  .alert(style="padding: 10px;")
    .row
      .span8
        正在同步最新数据，以下是基于同步于 #{strftime(FULL_TIME, people.book_last_synced)} 的数据生成的结果
      .span3
        include ../mods/progress
      .span1
        a.btn.btn-mini.btn-warning.pull-right(href=".") 刷新
hr
.row.mod
  - book_stats = people.book_stats
  - book_stats.all.label = '全部'
  - book_stats.wish.label = '想读'
  - book_stats.ing.label = '在读'
  - book_stats.done.label = '读过'
  - n_book = book_stats.all.total
  - n_done = book_stats.done.total
  - n_wish = book_stats.wish.total
  - n_ing = book_stats.ing.total
  - ratio_done = (n_done / n_book * 100).toFixed(2)
  - ratio_wish = (n_wish / n_book * 100).toFixed(2)
  .span4
    h3 总览
    p
      | 从 #{people.created.getFullYear()} 年至今，你一共收藏了 
      strong.num #{book_stats.all.total} 
      | 本图书，其中读过 
      strong.num #{n_done} 
      | 本，占全部收藏的 
      em.percent #{ratio_done}%
      | 。
      if n_done < 10
        是不是有点太少了呢？
      if n_wish > 10 && ratio_wish > 60
        想读的书有 #{n_wish} 本，占全部收藏的 #{ratio_wish}% 。似乎有点太多了，不要光想不做哦。
      if n_ing
        | 另外还有 #{n_ing} 本在读
        if n_ing > 15
          ，怎么可能同时读这么呢？一本本看完先吧
        | 。
  .span5
    - pie_summary = ['label,value', '想读,' + ratio_wish, '在读,' + (100 - ratio_done - ratio_wish).toFixed(2), '读过,' + ratio_done]
    - pie_summary = pie_summary.join('\n');
    .chart.donuts#d-summary(data-pie=pie_summary)
      .caption 想读/读过/在读图书比例
  .span3
    h4 最新收藏
    ul.muted
      each item in latest_interests
        li 
          mixin interest_item(item)
hr
.row.mod
  - locals.ns = 'book'
  .span3
    h4 收藏时标注
    mixin tagcloud(book_stats.interest.top_tags)
  .span5
    h4 全部热门
    mixin tagcloud(book_stats.all.top_tags)
  .span4
    h4 作者
    mixin searchcloud(book_stats.all.top_author.slice(0,5))
    h4 译者
    mixin searchcloud(book_stats.all.top_translator.slice(0,8))
  .span12
    h4 出版社
    mixin searchcloud(book_stats.all.top_publisher.slice(0,6))

hr
include ../mods/resync
