extend ../layout/basic

block main 
  name = people.name || people.uid
  .row
    .span9
      h1 #{name} 的豆瓣酱
      if people.invalid
        p.vmiddle.alert.alert-error 获取用户信息不小心失败了，休息一会再重试看看吧
        - return
      if people.desc
        mixin people_info(people)
      if !people.last_synced
        // 根本没有同步过
        form(method="post", action="/queue")
          input(type="hidden", name="_csrf", value=_csrf)
          input(type="hidden", name="uid", value=people.uid)
          p.vmiddle
            button.btn.btn-primary 开始为 #{name} 制造美味豆瓣酱
      else if !people.stats || people.stats_status == 'ing'
        .vmiddle
          include ./cases/wait
      else if people.stats_fail
        .vmiddle
          include ./cases/failed
      else
        include ./mods/stats
    .span3.people-intro
      if people.created
        include ./mods/intro

block ending
  script(src=static('/js/d3.js'))
  if people.stats
    include ./mods/stats_js

mixin people_info(people)
  .people-info
