extend ../layout/basic
include ./mixins/interest

block main 
  if !interests
    p.alert.alert-warning 此用户的数据还未准备好，请过一会儿再回来
  else 
    .people-info
      h1 用户 #{people.screen_name || people.uid} 的#{ns_name}收藏
        if people.last_synced_status === 'ing'
          span.alert.badge-syncing 正在同步
    if interests.book
      mixin book
    if interests.movie
      mixin movie
    if interests.music
      mixin music

mixin book
  .alert.alert-success
    p 共 #{people.book_n} 条图书记录，已同步 #{people.book_synced_n} 条，上次同步于&nbsp;
      time #{strftime(FULL_TIME, people.book_last_synced)}
  mixin interests_list(interests.book)

mixin movie

mixin music
