extend ./index

include ./mixins/paginator
include ./stats/book/mixins

block article
  ul.breadcrumb
    li
      a(href=people.url()) #{name}的豆瓣酱
    li
      a(href="#{people.url()}read") 读过的书
    li.active
      | 阅读体悟
  if !req.query.start
    .pull-right
      include ./mods/share.html
  h1 #{title}
  - ns = 'book'
  .mod
    if commented_total
      ol.comments-list
        each i in most_commented
          if i.comment
            li(id="comment-#{i._id}")
              mixin comment_item(i)
      .pager-center
        mixin paginator(req.query.start, commented_total, perpage, 4)
    else
      p 还没有撰写过任何阅读体悟哦
  hr
  .mod
    a.pull-right.btn.btn-small(href="http://#{ns}.douban.com/people/#{uid}/reviews", target="db-review") 去看#{people.name}的长评 ⇗
    a.btn.btn-small.btn-success(href="#{people.url()}read") &lt; 返回 #{people.name}读过的书
