include ../mixins/enable_links.jade

.people-intro
  h2 谁是 #{name} ?
  p.basic
    a(href=people.db_url(), target="_blank") #{name}
    if people.loc_name
      |，住在
      if people.loc_id
        a(href='http://www.douban.com/location/#{people.loc_id}/', target="_blank") #{people.loc_name}
      else
        | #{people.loc_name}
    | ，#{strftime(FULL_TIME_1, people.created)}加入豆瓣。至今已经
    span.elapse #{time_elapse(people.created)}。
  if people.desc
    hr
    .clearfix
      img.pull-right.img-rounded(src=people.avatar, height="48")
      p.desc
        mixin enable_links(people.desc)
