- last_statsed = people.last_statsed || people.stats.book
if !people.isIng()
  - if (last_statsed < central.boot_time - 3600000 * 200)
      .alert
        p 自从你上次访问后可能有功能更新，
          a(href="?recount") 点此重新生成报表
  p.alert.alert-success
    | 上次同步于&nbsp;
    time #{strftime(FULL_TIME, people.book_last_synced)}
    | ，报表生成于 
    time #{strftime(FULL_TIME, people.stats.book)}
else if people.stats_fail
  .alert.alert-error(style="padding: 10px;")
    计算最新报表时出错了，可能是服务器故障，也可能是你的数据太变态了
    a.btn.btn-mini.btn-danger.pull-right(href="#{people.url()}?recount") 重试
else
  .alert.alert-info(style="padding: 10px;")
    .row
      .span8
        if people.isSyncing()
          正在同步最新数据
          | ，以下是基于同步于 #{strftime(FULL_TIME, people.last_synced)} 的数据生成的结果
        else
          正在重新生成报表
          | ，以下是 #{strftime(FULL_TIME, last_statsed || people.last_synced)} 生成的结果
      .span3
        include ../mods/progress
      .span1
        a.btn.btn-mini.pull-right(href="?recount") 刷新

section
  include ../stats/book
  if conf.debug || people.last_synced_status !== 'ing' || (new Date() - people.last_synced > 120000)
    .pull-left
      include ../mods/sync

.vmiddle
  p.muted
    ... 更多功能正在紧张开发中，欢迎随时回来看看

include ./stats_js
