- last_statsed = people.last_statsed || people.stats.book
if !people.isIng()
  p.alert.alert-success
    | 上次同步于&nbsp;
    time #{strftime(FULL_TIME, people.book_last_synced)}
    | ，报表生成于 
    time #{strftime(FULL_TIME, people.stats.book)}
else if people.stats_fail
  .alert.alert-danger(style="padding: 10px;")
    计算最新报表时出错了，可能是服务器故障，也可能是你的数据太变态了
    a.btn.btn-mini.btn-danger.pull-right(href="#{people.url()}?recount") 重试
else
  .alert.alert-info(style="padding: 10px;")
    .row
      .col.col-lg-8
        if people.isSyncing()
          正在同步最新数据
          | ，以下是基于同步于 #{strftime(FULL_TIME, people.last_synced)} 的数据生成的结果
        else
          正在重新生成报表
          | ，以下是 #{strftime(FULL_TIME, last_statsed || people.last_synced)} 生成的结果
      .col.col-lg-3
        include ../mods/progress
      .col.col-lg-1
        a.btn.btn-mini.pull-right(href="?recount") 刷新

section
  include ../stats/book
  .pull-left
    - timediff = 2550000 - (new Date() - people.last_synced)
    - if (timediff <= 0 || conf.debug)
        include ../mods/sync
    - else
      small.text-muted #{chinese_period(timediff, true)}后可重新同步

.vmiddle
  p.text-muted.notice-more
    ... 更多功能正在紧张开发中，欢迎随时回来看看

include ./stats_js
