if !locals.navbar_links
  - return
.navbar
  .container
    button.navbar-toggle(data-toggle="collapse", data-target=".nav-collapse")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href=conf.site_root) #{conf.site_name}

    .nav-collapse.collapse
      .nav
        each link in navbar_links
          li(class=link.active ? 'active' : null)
            a(href=link.href, title=link.title, target=link.target) #{link.text}
    block navbar_form
      form.navbar-form.pull-right(id="navbar-form", action="/")
        div
          input(name="q", type="text", placeholder="豆瓣ID...", title="输入豆瓣ID以查看其统计", size="8")
