extend index

block results
  if stage == 'getting user'
    p.warning 正在获取用户信息
  else if typeof user !== 'undefined'
    .user-info
      h1 用户 #{user.screen_name || user.uid} 的收藏
        //if user.last_synced_status === 'ing'
        span.badge.badge-syncing 正在同步
    if interests.book
      mixin book
    if interests.movie
      mixin movie
    if interests.music
      mixin music

mixin stars(star)
  if !star || !star.value
    - return
  - var n = star.max, s = '';
  - star = star.value
  while n > 0
    - star--
    - n --
    - s += star > 0 ? '&#10029;' : '&#10025'
  span.stars !{s}

mixin book
  .stats
    p 共 #{user.book_n} 条图书记录，已同步 #{user.book_synced_n} 条，上次同步于&nbsp;
      time #{strftime('%Y年%m月%d日 %a %H:%M:%S', user.book_last_synced)}
  ol.interests-list
    each i in interests.book
      li 
        div.status #{i.istatus()}
            mixin stars(i.rating)
        &nbsp;
        if i.book
          div.pic
            a(href=i.book.url)
              img(src=i.book.images.medium)
          p.title
            a(href=i.book.url) #{i.book.title}
          p.meta
            span.authors #{i.book.author.join(', ')}
            &nbsp;
            | -
            &nbsp;
            span.publisher #{i.book.publisher}
        else
          a(href="http://book.douban.com/subject/#{i.book_id}/") book:#{i.book_id}

mixin movie

mixin music
