include ./mixins.jade

if clicks.done
  h2 都读过的书
    if clicks.ratios.done[0]
      small  (共#{clicks.done.length}本, 占#{people._name}全部读过的 #{(clicks.ratios.done[0] * 100).toFixed(2)}%)
  mixin book_list(clicks.done.slice(0, 6), null, mixed_rating_stars_mixin)
  hr
  h2 都想读的书
    if clicks.ratios.wish[0]
      small  (共#{clicks.wish.length}本, 占#{people._name}全部读过的 #{(clicks.ratios.wish[0] * 100).toFixed(2)}%)
  mixin book_list(clicks.wish.slice(0, 6))
  hr
  h2 都喜欢的书
    small （四星以上
      if clicks.ratios.love[0]
        ，共#{clicks.love.length}本, 占#{people._name}全部喜欢的书之 #{(clicks.ratios.love[0] * 100).toFixed(2)}%
      | ）
  mixin book_list(clicks.love.slice(0, 6), null, mixed_rating_stars_mixin)
  hr
  h2 都不喜欢的书
    small （两星以下
      if clicks.ratios.hate[0]
        ，共#{clicks.hate.length}本, 占#{people._name}全部不喜欢的书之 #{(clicks.ratios.hate[0] * 100).toFixed(2)}%
      | ）
  mixin book_list(clicks.hate.slice(0, 6), null, mixed_rating_stars_mixin)
  hr
  h2 #{people._name}读过的#{other._name}想读的书
    if clicks.ratios.done_wish[0]
      - n = clicks.done_wish.length
      small  (共#{n}本, 占#{other._name}全部想读的 #{(n / other.book_stats.wish.total).toFixed(3)}%)
  mixin book_list(clicks.done_wish.slice(0, 6))
  hr
  if clicks.ratios.love_hate[0]
    h2 #{people._name}喜欢#{other._name}却不喜欢的书
        - n = clicks.love_hate.length
        small  (共#{n}本, 占#{people._name}全部喜欢的#{(clicks.ratios.love_hate[0] * 100).toFixed(2)}%)
    hr
    mixin book_list(clicks.love_hate.slice(0, 6), null, mixed_rating_stars_mixin)
  if clicks.ratios.hate_love[0]
    h2 #{people._name}不喜欢#{other._name}却喜欢的书
        - n = clicks.hate_love.length
        small  (共#{n}本, 占#{people._name}全部不喜欢的#{(clicks.ratios.hate_love[0] * 100).toFixed(2)}%)
    hr
    mixin book_list(clicks.hate_love.slice(0, 6), null, mixed_rating_stars_mixin)
