include ../../stats/book/mixins.jade

mixin comment_item(i)
  small.pull-right.text-muted #{strftime('%Y-%m-%d', i.updated)} #{i.status_cn()} 
    mixin stars(i.rating)
  if i.subject
    .subject-image
      mixin subject_image(i.subject)
  mixin quote_comment(i.comment || '')

mixin user_th(user)
  th #{user._name}
    a.btn.btn-default.btn-xs.pull-right(href="#{user.url()}quote") 全部评语 &raquo;

table.table.table-bordered.comments-list
  tr.heading
    th &nbsp;
    mixin user_th(people)
    mixin user_th(other)
  each sid in commented
    - subject = all_books[sid]
    if !subject
      - continue
    - a = people._interest_by_subject_id[sid]
    - b = other._interest_by_subject_id[sid]
    tr
      th.subject
        mixin subject_image(subject)
        a(href="http://book.douban.com/subject/#{sid}/") #{subject.title}
      td
        mixin comment_item(a, true)
      td
        mixin comment_item(b, true)
