extend ../layout/basic

block title
  title 标签: #{tagname} - 豆瓣酱

block head_more
  style.
    !{istatic('css/tag.css')}

block main
  .row
    .col.col-lg-9
      h1 豆瓣上「#{tagname}」相关的书和人 
        a.btn.btn-xs(href="http://book.douban.com/tag/#{tagname}", target="_blank") 去豆瓣 ⇗ 
      if books 
        include ./mods/books.jade
        hr
      if book_done_users
        include ./mods/users.jade
    .col.col-lg-3
      .well
        h3 请注意：
        p
          这个页面只包括同步过数据到豆瓣酱的用户
        | 更多相关信息，请
        a(href="http://book.douban.com/tag/#{tagname}", target="_blank") 去豆瓣查询
