mixin tagcloud(tags, ns)
  ns = ns || locals.ns
  .tagcloud
    each tag in tags
      if tag && tag._id
        span.tag-item
          a(href="http://" + ns + '.douban.com/tag/' + encodeURIComponent(tag._id), target="_blank") #{tag._id}
          span.muted (#{tag.count})

- ns_cats = { 'book': '1001' }
mixin searchcloud(tags, ns)
  ns = ns || locals.ns
  cat = ns_cats[ns]
  .tagcloud
    each tag in tags
      if tag && tag._id
        span.tag-item
          a(href="http://" + ns + '.douban.com/subject_search?cat=' + cat + '&amp;search_text=' + encodeURIComponent(tag._id),
            target="_blank") #{tag._id}
          span.muted (#{tag.count})

mixin stars(star)
  if !star || !star.value
    - return
  - var n = star.max || 5, s = '';
  - star = star.value
  while n > 0
    - star--
    - n --
    - s += star >= 0 ? '&#10029;' : '&#10025'
  span.stars !{s}

mixin interest_item(i, trimto)
  if !i
    - return
  trimto = trimto || 100
  span.label.label-status #{i.status_cn()}
  &nbsp;
  if i.subject
    a(href="http://#{i.subject_ns()}.douban.com/subject/#{i.subject_id}/",
      target="_blank",
      title="#{i.subject.title}#{i.subject.author ? ' - ' + i.subject.author.join(', ') : ''}")
      | #{trunc(i.subject.title, 8)}
  else
    a(href="http://#{i.subject_ns()}.douban.com/subject/#{i.subject_id}/", target="_blank")
      | #{i.subject_id}


mixin interests_list(items)
  ol.interests-list
    each i in items
      li 
        a(href="http://#{i.subject_ns()}.douban.com/subject/#{i.subject_id}/", target="db-#{i.subject_type}") 
          div.status #{i.status_cn()}
              mixin stars(i.rating)
          if i.subject
            .pic
              img(src=i.subject.images.medium)
            p.title #{i.subject.title}
            p.meta.authors !{i.subject.author.join(', ')}
            if i.subject.publisher
              p.meta.publisher #{i.subject.publisher}
          else
            | #{i.subject_type}:#{i.subject_id}
